@page "/"

<PageTitle>Welcome</PageTitle>



<div class="container ">
    <div class="row pt-5 mt-5">
        <div>
            <img width="200" src="/css/img/leash.png">
        </div>
        <div>
            <h1 class="display-1">Welcome to Shelter Helper!</h1>
        </div>
    </div>
</div>
